// FUENTE

@font-face {
  font-family: MADE Outer Sans thin;
  src: url(../fuente/MADE\ Outer\ Sans\ Thin\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: MADE Outer Sans regular;
  src: url(../fuente/MADE\ Outer\ Sans\ Regular\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: MADE Outer Sans Medium;
  src: url(../fuente/MADE\ Outer\ Sans\ Medium\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: MADE Outer Sans bold;
  src: url(../fuente/MADE\ Outer\ Sans\ Bold\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: MADE Outer Sans black;
  src: url(../fuente/MADE\ Outer\ Sans\ Black\ PERSONAL\ USE.otf);
}

// GENERALES

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




@media (min-width: 1920px) {

  
.boton-contacto {
  position: fixed;
  width: 80px;
  height: 80px;
  line-height: 80px;
  bottom: 34px;
  right: 35px;
  background-color: #9e192c;
  color: white;
  border-radius: 89px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
  z-index: 100;

  
  &:hover {
    color: white;
  }

  &:active {
    box-shadow: none;
  }


  svg{
    width: 45px;
  }
 }

  .header {
    height: 13vh;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 0 7rem;
    
  .container{
    max-width: 2300px;
  }
  
    button {
  
      &:focus {
        outline: none;
      }
  
     
    }
  
    .navbar {
      padding: 0 0;
  
      .nav-item {
        .nav-link {
          color: black;
          font-family: MADE Outer Sans medium;
          font-size: 30px;
        }
      }
  
  
      svg {
  
        width: 40px;
        height: auto;
  
        &:focus {
          outline: none;
        }
      }
  
      .logo {
        width: 250px;
        height: auto;
      }
  
      .navbar-collapse {
        flex-grow: 0;
      }
    }
  }
  
  // MAIN
  
  main {
    // Section 1
  
    .section1 {
      background-image: url("https://i.postimg.cc/yxpHzv48/Background-banner3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      z-index: 0;
      padding: 0 0;
  
      .container {
        padding-right: 0;
        max-width: 2300px;
        padding-bottom: 5rem;

        .align-items-xl-end{
          align-items: center !important;
        }
  
        .row {
          margin: 0 0;
  
          .img-banner-desaparece {
            width: 35vw;
            padding-top: 1rem;
          }
  
          .logo-banner {
            width: 30vw;
          }
  
          .texto-banner {
            font-family: MADE Outer Sans bold;
            color: #9e192c;
            font-size: 2vw;
            text-align: center;
          }
  
          .boton-banner {
            background-color: #9e192c;
            color: white;
            font-family: MADE Outer Sans black;
            font-size: 30px;
            letter-spacing: 1px;
            padding: 3vh 2vw;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
  
            &:active {
              box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
              -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
              outline: none;
            }
  
            &:focus {
              outline: none;
            }
          }
  
          .boton-banner-aparece {
            display: none;
          }
        }
      }
    }
  
    // Section 2
  
    .container{
      max-width: 2300px;
    }

    .section-nuestras-marcas {

      padding-top: 2rem;
     

      h1 {
        font-family: MADE Outer Sans Bold;
        font-size: 5rem;
        color: black;
      }
  
      .imagen-productos {
        padding: 0 4px;
        margin-bottom: 11px;
        width: 22vw;
      }
    }
  
    // Section 3
  
    .section-datos {
      background-color: #d9d9d9;
  
      h3 {
        font-family: MADE Outer Sans Medium;
        font-size: 30px;
      }
  
      p {
        font-family: MADE Outer Sans thin;
        font-size: 25px;
        padding: 0 3rem;
      }
  
      img {
        width: 7vw;
      }
    }
  
    // FORMULARIO
  
    .section-formulario {
      background-image: url("https://i.postimg.cc/RVRB9CmD/Imagenes-prueba-3.jpg");
      background-size: cover;
      padding: 12rem 8rem;
  
      .row,
      .container {
        .form-textos {
          padding-right: 3rem;
  
          .texto-formulario {
            color: white;
            font-family: MADE Outer Sans bold;
            font-size: 2vw;
          }
  
          .img-formulario {
            width: 38vw;
          }
        }
  
        .formulario {
          padding-left: 3rem;
  
          .titulo-form {
            color: white;
            font-family: MADE Outer Sans black;
            font-size: 70px;
          }
  
          form {
            color: white;
  
            .form-group {
              margin-bottom: 0.5rem;
            }
  
            .input-formulario-general {
              font-family: MADE Outer Sans thin;
              font-size: 35px;
              height: 60px;
              margin-right: 1rem;
              padding: 0;
              padding-left: 5px;
            }
  
            .form-control {
              color: red;
              font-family: MADE Outer Sans thin;
              font-size: 1.2vw;
              border-radius: 10px;
  
              &:focus {
                border-color: #9e192c;
                box-shadow: none;
              }
            }
  
            .boton-formulario {
              background-color: #9e192c;
              color: white;
              font-family: MADE Outer Sans regular;
              font-size: 38px;
    letter-spacing: 1px;
    padding: 0.5rem 6rem;
              border: none;
              border-radius: 10px;
              box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
              -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
              -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
            }
  
            hr {
              height: 2px;
              background-color: #9e192c;
            }
          }
        }
      }
    }
  }
  
  // FOOTER
  
  footer {
    background-color: #9e192c;
    padding: 0 7rem;
  
.container{
  max-width: 2300px;
}

    .texto-footer {
      font-family: MADE Outer Sans thin;
      font-size: 1.5rem;
      font-weight: 100;
      color: #ffffff;
      margin-bottom: 0;
    }
  
    .titulo-footer {
      font-size: 1rem;
      font-family: MADE Outer Sans thin;
      color: white;
    }
  
    .logo-footer {
      width: 70px;
      color: white;
    }
  
    .titulo-footer2 {
      color: white;
      font-family: MADE Outer Sans Bold;
      font-size: 1rem;
      margin-bottom: 0;
    }
  
    .texto-footer {
      color: white;
      font-family: MADE Outer Sans thin;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}



@media (max-width: 1919px) and (min-width: 1441px) {

  
  .boton-contacto {
    position: fixed;
    width: 80px;
    height: 80px;
    line-height: 80px;
    bottom: 34px;
    right: 35px;
    background-color: #9e192c;
    color: white;
    border-radius: 89px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
    z-index: 100;
  
    
    &:hover {
      color: white;
    }
  
    &:active {
      box-shadow: none;
    }
  
  
    svg{
      width: 45px;
    }
   }
  
    .header {
      height: 13vh;
      box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
      position: relative;
      z-index: 1;
      background-color: white;
      padding: 0 7rem;
      
    .container{
      max-width: 2300px;
    }
    
      button {
    
        &:focus {
          outline: none;
        }
    
       
      }
    
      .navbar {
        padding: 0 0;
    
        .nav-item {
          .nav-link {
            color: black;
            font-family: MADE Outer Sans medium;
            font-size: 25px;
          }
        }
    
    
        svg {
    
          width: 35px;
          height: auto;
    
          &:focus {
            outline: none;
          }
        }
    
        .logo {
          width: 200px;
          height: auto;
        }
    
        .navbar-collapse {
          flex-grow: 0;
        }
      }
    }
    
    // MAIN
    
    main {
      // Section 1
    
      .section1 {
        background-image: url("https://i.postimg.cc/yxpHzv48/Background-banner3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        padding: 0 0;
    
        .container {
          padding-right: 0;
          max-width: 2300px;
          padding-bottom: 2rem;
  
          .align-items-xl-end{
            align-items: center !important;
          }
    
          .row {
            margin: 0 0;
    
            .img-banner-desaparece {
              width: 35vw;
              padding-top: 1rem;
            }
    
            .logo-banner {
              width: 30vw;
            }
    
            .texto-banner {
              font-family: MADE Outer Sans bold;
              color: #9e192c;
              font-size: 2.1vw;
              text-align: center;
            }
    
            .boton-banner {
              background-color: #9e192c;
              color: white;
              font-family: MADE Outer Sans black;
              font-size: 25px;
              letter-spacing: 1px;
              padding: 3vh 3vw;
              border: none;
              border-radius: 10px;
              box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
              -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
              -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    
              &:active {
                box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
                outline: none;
              }
    
              &:focus {
                outline: none;
              }
            }
    
            .boton-banner-aparece {
              display: none;
            }
          }
        }
      }
    
      // Section 2
    
      .container{
        max-width: 2300px;
      }
  
      .section-nuestras-marcas {
  
        padding-top: 2rem;
       
  
        h1 {
          font-family: MADE Outer Sans Bold;
          font-size: 5rem;
          color: black;
        }
    
        .imagen-productos {
          padding: 0 4px;
          margin-bottom: 11px;
          width: 25vw;
        }
      }
    
      // Section 3
    
      .section-datos {
        background-color: #d9d9d9;
    
        h3 {
          font-family: MADE Outer Sans Medium;
          font-size: 22px;
        }
    
        p {
          font-family: MADE Outer Sans thin;
          font-size: 20px;
          padding: 0 3rem;
        }
    
        img {
          width: 7vw;
        }
      }
    
      // FORMULARIO
    
      .section-formulario {
        background-image: url("https://i.postimg.cc/RVRB9CmD/Imagenes-prueba-3.jpg");
        background-size: cover;
        padding: 6rem 8rem;
    
        .row,
        .container {
          .form-textos {
            padding-right: 3rem;
    
            .texto-formulario {
              color: white;
              font-family: MADE Outer Sans bold;
              font-size: 2vw;
            }
    
            .img-formulario {
              width: 35vw;
            }
          }
    
          .formulario {
            padding-left: 3rem;
    
            .titulo-form {
              color: white;
              font-family: MADE Outer Sans black;
              font-size: 50px;
            }
    
            form {
              color: white;
    
              .form-group {
                margin-bottom: 0.5rem;
              }
    
              .input-formulario-general {
                font-family: MADE Outer Sans thin;
                font-size: 20px;
                height: 45px;
                margin-right: 1rem;
                padding: 0;
                padding-left: 5px;
              }
    
              .form-control {
                color: red;
                font-family: MADE Outer Sans thin;
                font-size: 1.3vw;
                border-radius: 10px;
    
                &:focus {
                  border-color: #9e192c;
                  box-shadow: none;
                }
              }
    
              .boton-formulario {
                background-color: #9e192c;
                color: white;
                font-family: MADE Outer Sans regular;
                font-size: 26px;
                letter-spacing: 1px;
                padding: 0.5rem 4rem;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
              }
    
              hr {
                height: 2px;
                background-color: #9e192c;
              }
            }
          }
        }
      }
    }
    
    // FOOTER
    
    footer {
      background-color: #9e192c;
      padding: 0 7rem;
    
  .container{
    max-width: 2300px;
  }
  
      .texto-footer {
        font-family: MADE Outer Sans thin;
        font-size: 1rem;
        font-weight: 100;
        color: #ffffff;
        margin-bottom: 0;
      }
    
      .titulo-footer {
        font-size: 1.3rem;
        font-family: MADE Outer Sans thin;
        color: white;
      }
    
      .logo-footer {
        width: 50px;
        color: white;
      }
    
      .titulo-footer2 {
        color: white;
        font-family: MADE Outer Sans Bold;
        font-size: 1rem;
        margin-bottom: 0;
      }
    
      .texto-footer {
        color: white;
        font-family: MADE Outer Sans thin;
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  
  


// HEADER
@media (max-width:1440px) {
  
  .boton-contacto {
    position: fixed;
    width: 70px;
    height: 70px;
    line-height: 65px;
    bottom: 34px;
    right: 35px;
    background-color: #9e192c;
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
    z-index: 100;
  
    &:hover {
      color: white;
    }
  
    &:active {
      box-shadow: none;
    }

    svg{
      width: 35px;
    }
  }
  

.header {
  height: 13vh;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
  background-color: white;
  


  button {

    &:focus {
      outline: none;
    }

   
  }

  .navbar {
    padding: 0 0;

    .nav-item {
      .nav-link {
        color: black;
        font-family: MADE Outer Sans medium;
        font-size: 24px;
      }
    }


    svg {

      width: 35px;
      height: auto;

      &:focus {
        outline: none;
      }
    }

    .logo {
      width: 200px;
      height: auto;
    }

    .navbar-collapse {
      flex-grow: 0;
    }
  }
}

// MAIN

main {
  // Section 1

  .section1 {
    background-image: url("https://i.postimg.cc/yxpHzv48/Background-banner3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    padding: 0 0;
    height: 700px;

    .container {
      padding-right: 0;

      .row {
        margin: 0 0;

        .img-banner-desaparece {
          width: 40vw;
          padding-top: 1rem;
        }

        .logo-banner {
          width: 38vw;
        }

        .texto-banner {
          font-family: MADE Outer Sans bold;
          color: #9e192c;
          font-size: 2.7vw;
          text-align: center;
        }

        .boton-banner {
          background-color: #9e192c;
          color: white;
          font-family: MADE Outer Sans black;
          font-size: 28px;
          letter-spacing: 1px;
          padding: 3vh 3vw;
          border: none;
          border-radius: 10px;
          box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);

          &:active {
            box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
            outline: none;
          }

          &:focus {
            outline: none;
          }
        }

        .boton-banner-aparece {
          display: none;
        }
      }
    }
  }

  // Section 2

  .section-nuestras-marcas {
    h1 {
      font-family: MADE Outer Sans Bold;
      font-size: 4rem;
      color: black;
    }

    .imagen-productos {
      padding: 0 4px;
      margin-bottom: 11px;
      width: 26vw;
    }
  }

  // Section 3

  .section-datos {
    background-color: #d9d9d9;

    h3 {
      font-family: MADE Outer Sans Medium;
      font-size: 19px;
    }

    p {
      font-family: MADE Outer Sans thin;
      font-size: 16px;
    }

    img {
      width: 6vw;
    }
  }

  // FORMULARIO

  .section-formulario {
    background-image: url("https://i.postimg.cc/RVRB9CmD/Imagenes-prueba-3.jpg");
    background-size: cover;
    padding: 6rem 0;


    .row,
    .container {
      .form-textos {
        padding-right: 3rem;

        .texto-formulario {
          color: white;
          font-family: MADE Outer Sans bold;
          font-size: 29px;
        }

        .img-formulario {
          width: 37vw;
        }
      }

      .formulario {


        .titulo-form {
          color: white;
          font-family: MADE Outer Sans black;
          font-size: 45px;
        }

        form {
          color: white;

          .form-group {
            margin-bottom: 0.5rem;
          }

          .input-formulario-general {
            font-family: MADE Outer Sans thin;
            font-size: 20px;
            height: 48px;
            margin-right: 1rem;
            padding: 0;
            padding-left: 5px;
          }

          .form-control {
            color: red;
            font-family: MADE Outer Sans thin;
            font-size: 20px;
            border-radius: 10px;

            &:focus {
              border-color: #9e192c;
              box-shadow: none;
            }
          }

          .boton-formulario {
            background-color: #9e192c;
            color: white;
            font-family: MADE Outer Sans regular;
            font-size: 25px;
            letter-spacing: 1px;
            padding: 0.6rem 5rem;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
          }

          hr {
            height: 2px;
            background-color: #9e192c;
          }
        }
      }
    }
  }
}

// FOOTER

footer {
  background-color: #9e192c;

  .texto-footer {
    font-family: MADE Outer Sans thin;
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 0;
  }

  .titulo-footer {
    font-size: 16px;
    font-family: MADE Outer Sans thin;
    color: white;
  }

  .logo-footer {
    width: 50px;
    color: white;
  }

  .titulo-footer2 {
    color: white;
    font-family: MADE Outer Sans Bold;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .texto-footer {
    color: white;
    font-family: MADE Outer Sans thin;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}}

@media (max-width: 1024px) and (min-width: 769px) {
  header {
    .container {
      max-width: 1024px;
    }

    .navbar-brand {
      padding-left: 2rem;
    }

    .navbar-toggler {
      padding-right: 2rem;

      &:focus {
        box-shadow: none;
      }
    }

    .navbar {
      .nav-item {
        .nav-link {
          text-align: center;
          font-size: 28px;
        }
      }
    }
  }

  #opciones {
    background-color: white;
  }

  main {
    // Section 1

    .section1 {
      height: 600px;
      display: block;

      .container {
        max-width: 930px;

        .row {
          .boton-banner {
            font-size: 21px;
            padding: 3vh 3vw;
            border: none;
          }
        }
      }
    }


    // Section 2

    .section-nuestras-marcas {
      h1 {
        font-family: MADE Outer Sans Bold;
        font-size: 4rem;
        color: black;
      }

      .imagen-productos {
        padding: 0 4px;
        margin-bottom: 11px;
        width: 40vw;
      }

      .imagen-display {
        display: none;
      }
    }

    // SECCIÓN DATOS

    .section-datos {
      img {
        width: 12vw;
      }

      h3 {
        font-size: 21px;
      }

      p {
        font-size: 17px;
      }


    }

    // FORMULARIO

    .section-formulario {
      background-image: url("https://i.postimg.cc/RVRB9CmD/Imagenes-prueba-3.jpg");
      background-size: cover;
      height: 1100px;

      .row,
      .container {
        .form-textos {
          padding-right: 0;

          .img-formulario {
            width: auto;
          }

          .texto-formulario {
            font-size: 35px;
          }
        }

        .formulario {
          text-align: center;
          padding-left: 0;

          form {
            .input-formulario-general {
              padding: 0 15px;
            }

            .form-control {
              font-size: 20px;
              text-align: center;
            }

            .boton-formulario {
              font-size: 33px;
              padding: 0.5rem 24vw;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 426px) {

  #opciones {
    background-color: white;
  }

  header {
    .container {
      max-width: 1024px;
    }

    .navbar-brand {
      padding-left: 2rem;
    }

    .navbar-toggler {
      padding-right: 2rem;

      &:focus {
        box-shadow: none;
      }
    }

    .navbar {
      .nav-item {
        .nav-link {
          text-align: center;
          font-size: 28px;
        }
      }
    }
  }


  main {
    // Section 1

    .section1 {
      background-image: url("https://i.postimg.cc/yYjc4Rb3/Responsive-banner2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;

      .desaparece {
        display: none;
      }

      .aparece {
        display: block;
      }

      .container {
        max-width: 830px;


        .row {

          justify-content: center;


          .col-md-6 {
            max-width: 100%;
            flex: 100%;
          }

          .columnas-banner {
            max-width: 100%;
          }

          .boton-banner {
            font-size: 21px;
            padding: 3vh 3vw;
            border: none;
          }

          .texto-banner {
            font-size: 2rem;
            padding-top: 1rem;
          }

          .boton-banner-aparece {
            display: block;
            padding-bottom: 3rem;

            .boton-banner {
              font-size: 28px;
            }


            .img-aparece {
              width: 80vw;
            }
          }

          .desaparece {
            display: none;
          }
        }
      }
    }

    // SECCIÓN NUESTRAS MARCAS

    .section-nuestras-marcas {
      margin-bottom: 2rem;

      h1 {
        font-size: 6.5vw;
        margin-bottom: 1rem;
      }

      .imagen-productos {
        width: 42vw;
      }

      .imagen-display {
        display: none;
      }
    }



    // SECCIÓN DATOS

    .section-datos {
      margin-bottom: 2rem;

      img {
        width: 15vw;
      }

      h3 {
        font-size: 24px;
      }

      p {
        font-size: 20px;
        padding: 0 5rem;
      }
    }

    // FORMULARIO
    .section-formulario {

      .row,
      .container {
        .form-textos {
          padding-right: 0;

          .img-formulario {

            width: 67%;
            margin-bottom: 1rem;
          }

          .texto-formulario {
            font-size: 27px;
          }
        }

        .formulario {
          .titulo-form {
            display: none;

          }

          form {
            .boton-formulario {
              font-size: 30px;
              padding: 0.6rem 38.5%;
            }
          }
        }
      }
    }
  }

  footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .texto-footer {
      font-size: 1rem;
      padding-top: 1rem;
    }

    .d-flex {
      margin-bottom: 1rem;
    }


    .titulo-footer2 {
      font-size: 1rem;
    }

    .titulo-footer {
      font-size: 1rem;
    }

    .contenedor-footer {
      flex-direction: column;
    }

    .container {
      text-align: center;
    }

    .texto-footer2 {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 425px) and (min-width: 10px) {


  .boton-contacto {
    width: 60px;
    height: 60px;
    line-height: 56px;
  }


  #opciones {
    background-color: white;
  }

  header {

    .navbar {
      .logo {
        width: 200px;
        padding-left: 1rem;
      }
    }

    .container {
      max-width: 1024px;
    }

    .navbar-brand {
      padding-left: 2rem;
    }

    .navbar-toggler {
      padding-right: 2rem;

      &:focus {
        box-shadow: none;
      }
    }

    .navbar {
      .nav-item {
        .nav-link {
          text-align: center;
          font-size: 28px;
        }
      }
    }
  }



  main {


    // SECCIÓN 1


    .section1 {
      background-image: url("https://i.postimg.cc/yYjc4Rb3/Responsive-banner2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      display: flex;
      height: 100%;
      flex-direction: column;
      margin-bottom: 1rem;
      justify-content: space-between;


      .desaparece {
        display: none;
      }

      .aparece {
        display: block;
      }

      .container {
        max-width: 830px;

        .row {
          .boton-banner {
            font-size: 21px;
            padding: 3vh 18vw;
            border: none;
          }

          .texto-banner {
            padding-top: 1rem;
            font-size: 6vw;
          }

          .boton-banner-aparece {
            display: block;
            padding-bottom: 3rem;

            .boton-banner {
              font-size: 20px;
            }


            .img-aparece {
              width: 80vw;
            }
          }

          .desaparece {
            display: none;
          }

          .desaparece {
            display: none;
          }
        }
      }
    }


    // SECCIÓN NUESTRAS MARCAS

    .section-nuestras-marcas {
      margin-bottom: 2rem;

      h1 {
        font-size: 2.3rem;
        margin-bottom: 1rem;
      }

      .imagen-productos {
        width: 80vw;
      }

      .imagen-display {
        display: none;
      }
    }

    // SECCIÓN DATOS

    .section-datos {
      margin-bottom: 2rem;

      img {
        width: 23vw;
      }

      h3 {
        font-size: 22px;
      }

      p {
        font-size: 19px;
      }
    }

    // SECCIÓN FORMULARIO

    .section-formulario {
      background-size: cover;
      background-repeat: no-repeat;
      height: 170vh;
      background-position-x: center;

      .container,
      .row {
        .form-textos {
          padding-right: 0;
          text-align: center;

          .img-formulario {
            width: 77vw;
            margin-bottom: 1rem;
          }

          .texto-formulario {
            font-size: 21px;
          }
        }

        .formulario {
          padding: 0 1rem;

          form {
            .boton-formulario {
              padding: 0.6rem 35vw;
            }

            .form-control {
              font-size: 14px;
            }
          }

          .titulo-form {
            font-size: 38px;
          }

          text-align: center;
        }

      }
    }




  }

  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .texto-footer {
      font-size: 1rem;
      padding-top: 1rem;
    }

    .d-flex {
      margin-bottom: 1rem;
    }


    .titulo-footer2 {
      font-size: 1rem;
    }

    .titulo-footer {
      font-size: 1rem;
    }

    .contenedor-footer {
      flex-direction: column;
    }

    .container {
      text-align: center;
    }

    .texto-footer2 {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
}